{% extends 'base.html' %}

{% block title %}
Add Game
{% endblock %}

{% block body %}

<form method="POST" class="needs-validation" enctype="multipart/form-data">
    <div class="container">
        <div class="g-3">
            <div class="col-sm-6">
                <label for="name" class="form-label text-info">Name</label>
                <input required type="text" class="form-control mb-3" id="name" placeholder="name" name="name">
            </div>

            <div class="col-sm-1">
                <label for="price" class="form-label text-info">Price ($) <span class="text-muted">(Optional)</span></label>
                <input type="number" class="form-control mb-3" id="price" placeholder="price" name="price">
            </div>

            <p class="text-info">Genres <span class="text-muted">(Optional)</span></p>
            <form>
                {% for i in all_genres %}
                <input type="checkbox" id="genre" name="genre" value="{{ i }}">
                <label for="genre">{{ i }}</label><br>
                {% endfor %}

            </form>

            <div class="col-12 mb-3">
                <label for="image" class="form-label text-info">Image<span class="text-muted">(Optional)</span></label>
                <p><input type="file" id='image' name="file">
                </p>
            </div>

            <p class="text-info">Hide <span class="text-muted">(Optional)</span></p>
            <input class="mb-3" type="checkbox" id="hide" name="hide" value=True>
            <label for="hide">Hide</label><br>

            <div class="mb-3">
                <label for="description" class="form-label text-info">Description</label>
                <textarea required class="form-control mb-3" id="description" placeholder="description"
                          name="description"></textarea>
            </div>
        </div>
        <input class="btn btn-success btn-md mb-4" type="submit" value="Submit">
    </div>
</form>

{% endblock %}
