<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>


<body style="background-color:Black; color:White;">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-3 border-bottom">
    <a href="/games" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/static/logo.png" width="200" height="66" alt="Game Store">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 flex-md-fill mb-md-0">
        <li><a href="/games" style="color:White;" class="nav-link px-3 link-dark">Games</a></li>
        <li><a href="/" style="color:White;" class="nav-link px-3 link-dark">Community</a></li>
        <li><a href="/" style="color:White;" class="nav-link px-3 link-dark">About</a></li>
        <li><a href="/" style="color:White;" class="nav-link px-3 link-dark">Supports</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <a href="/sign_in" type="button" style="color:White;" class="btn btn-primary btn-dark me-4">Sign in</a>
    </div>
</header>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block body %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>