{% extends 'base.html' %}

{% block title %}
Cart
{% endblock %}

{% block body %}

<div class="container d-flex flex-row align-items-center justify-content-between mb-3 p-2">
    <h3> Your cart: </h3>
    <div>
        <h2>Total: ${{ total }}</h2>
    </div>
    <div>
        <a href="/cart/order" type="button"
           class="btn btn-lg btn-success">Proceed</a>
    </div>
</div>
<div class="container mt-5">

    {% for i in cart %}
    <div class="border d-flex flex-row align-items-center justify-content-between mb-3 p-4">
        {% if i.game.image != None %}
        <img class="p-2" src="{{ url_for('static', filename=i.game.image) }}" width="180" height="240"
             alt="image">
        {% endif %}

        <div class="d-flex flex-column mb-3">
            <h4>{{ i.game.name }}</h4>
            <p class="fw-light fs-1">${{ i.game.price }}</p>
        </div>

        <div class="mb-3">
            <a href="{{ url_for('cart_subtract_quantity', cart_obj_id=i.id) }}" type="button"
               class="btn btn-lg btn-primary">-</a>
        </div>
        <div class="d-flex justify-content-center">
            <h2>{{ i.quantity }}</h2>
        </div>
        <div class="mb-3">
            <a href="{{ url_for('cart_add_quantity', cart_obj_id=i.id) }}" type="button" class="btn btn-lg btn-primary">+</a>
        </div>

        <h2>Total: ${{ i.game.price * i.quantity }}</h2>

        <div class="mb-3">
            <a href="{{ url_for('cart_delete', cart_obj_id=i.id) }}" type="button"
               class="btn btn-lg btn-danger">Delete</a>
        </div>

    </div>

    {% endfor %}
</div>


{% endblock %}