{% extends 'base.html' %}

{% block title %}
Game details
{% endblock %}

{% block body %}

<div class="p-5 mb-4 bg-dark rounded-3">

    {% if current_user.is_authenticated %}
    {% for i in current_user.roles %}
    {% if i.name == "manager" %}
    <a href="{{ url_for('edit_game', game_uuid=game_uuid) }}" role="button" class="btn btn-lg btn-info mb-4">Edit
        game</a>

    <form method="post">
        {% if game.hide %}
        <p class="text-warning">Unhide game:</p>
        <input class="btn btn-lg btn-warning mb-4" type="submit" value="False" name="hide_game"/>
        {% else %}
        <p class="text-warning">Hide game:</p><input class="btn btn-lg btn-warning mb-4" type="submit" value="True"
                                                     name="hide_game"/>
        {% endif %}
    </form>

    {% if game.image == None %}
    <div class="container py-3">
        <form method="POST" class="needs-validation" enctype="multipart/form-data">
            <div class="col-12 mb-3">
                <label for="image" class="form-label text-warning">Image<span
                        class="text-muted">(Optional)</span></label>
                <p><input type="file" id='image' name="file"></p>
            </div>
            <input class="btn btn-success btn-md" type="submit" value="Submit">
        </form>
    </div>
    {% endif %}

    {% endif %}
    {% endfor %}
    {% endif %}


    <div class="container py-3 border-bottom">
        {% if game.image != None %}
        <img class="mb-4" src="{{ url_for('static', filename=game.image) }}" width="450" height="600" alt="image">
        {% endif %}
        <p class="display-5 fw-bold">{{ game.name }}</p>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
            <p class="fw-light fs-1">${{ game.price }}</p>
            <button type="button" class="btn btn-lg btn-success fs-2">Buy</button>
        </div>

    </div>

    <div class="container-lg py-3">
        {%for i in game.genre%}
        <nobr class="text-info">{{ i }}</nobr>
        {% endfor %}
        <p class="col-md-8 fs-4">{{ game.description }}</p>


        {% if current_user.is_authenticated %}
        <button class="btn btn-warning mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComment"
                aria-expanded="false" aria-controls="collapseComment">
            Comment
        </button>
        <div class="collapse" id="collapseComment">
            <form method="POST" class="needs-validation">
                <div class="mb-3">
                    <label for="comment" class="form-label text-info">New comment</label>
                    <textarea required class="form-control mb-3" id="comment" placeholder="Comment"
                              name="comment"></textarea>

                    <input class="btn btn-success btn-md mb-4" type="submit" value="Save">
                    <button class="btn btn-danger btn-md mb-4" type="reset" data-bs-toggle="collapse"
                            data-bs-target="#collapseComment" aria-controls="collapseComment">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
        {% endif %}


    </div>

</div>

<div class="container mt-5">

    {% if comments|length > 0 %}
    {% for c in comments %}

    {% if not c.parent_comment_uuid %}
    <div class="p-5 rounded-3 bg-dark alert">
        <h3>{{ c.user.username }}</h3>
        <p class="lead">{{ c.comment }}</p>
        <p><b>Date: {{ c.time }}</b></p>

        {% if current_user.is_authenticated %}
        <p>
            <a href="{{ url_for('reply_comment', comment_id=c.pk) }}" class="mb-3" type="button" style="color:Blue;">Reply</a>
        </p>
        {% endif %}

        {% if current_user.is_authenticated and current_user.username == c.user.username %}
        <a href="{{ url_for('edit_comment', comment_id=c.pk) }}" type="button" class="btn btn-lg btn-info mb-4">Edit</a>
        <a href="{{ url_for('delete_comment', comment_id=c.pk) }}" type="button" class="btn btn-lg btn-danger mb-4">Delete</a>
        {% endif %}

    </div>
    {% endif %}

    <div class="bg-dark">
        {% for child_c in comments %}
        {% if child_c.parent_comment_uuid == c.uuid %}
        <div class="mx-auto bg-dark alert" style="width: 1000px;">
            <h3>{{ child_c.user.username }}</h3>
            <p class="lead">{{ child_c.comment }}</p>
            <p><b>Date: {{ child_c.time }}</b></p>
            {% if current_user.is_authenticated and current_user.username == c.user.username %}
            <a href="{{ url_for('delete_comment', comment_id=child_c.pk) }}" type="button" class="btn btn-lg btn-danger mb-4">Delete</a>
            {% endif %}
        </div>

        {% endif %}
        {% endfor %}
    </div>

    {% endfor %}


</div>
{% else %}
<p>No comments</p>
{% endif %}


{% endblock %}

