{% extends 'base.html' %}

{% block head %}
<style>
a:link, a:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: muted;
}





</style>
{% endblock %}


{% block title %}
Home
{% endblock %}

{% block body %}
<div class="album py-5">
    <div class="container">
        <a href="/game/add" role="button" class="btn btn-lg btn-success mb-4">Add game</a>

        <div class="nav col-md-3 mb-4">
            <form method="get" class="nav col-12 col-md-auto mb-2 mb-md-0 me-lg-3">
                <nobr>
                    <input type="search" class="form-control form-control-dark" placeholder="Search" name="search">
                </nobr>
                <input class="btn btn-outline-success" type="submit" value="Submit">
            </form>
        </div>

        <p class="text-info">Choose genres:<span class="text-muted">(Optional)</span></p>

        <form method="post" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 bg-dark mb-4">
            <input type="checkbox" id="genre" name="genre" value="Strategy">
            <label for="genre">Strategy</label><br>

            <input type="checkbox" id="genre1" name="genre" value="Strategy(Rally)">
            <label for="genre">Strategy(Rally)</label><br>

            <input type="checkbox" id="genre2" name="genre" value="Strategy(Arcade)">
            <label for="genre">Strategy(Arcade)</label><br>

            <input type="checkbox" id="genre3" name="genre" value="Strategy(Off-road)">
            <label for="genre">Strategy(Off-road)</label><br>

            <input type="checkbox" id="genre4" name="genre" value="RPG">
            <label for="genre">RPG</label><br>

            <input type="checkbox" id="genre5" name="genre" value="Sports">
            <label for="genre">Sports</label><br>

            <input type="checkbox" id="genre6" name="genre" value="Races">
            <label for="genre">Races</label><br>

            <input type="checkbox" id="genre7" name="genre" value="Action">
            <label for="genre">Action</label><br>

            <input type="checkbox" id="genre8" name="genre" value="Action(FPS)">
            <label for="genre">Action(FPS)</label><br>

            <input type="checkbox" id="genre9" name="genre" value="Action(TPS)">
            <label for="genre">Action(TPS)</label><br>

            <input type="checkbox" id="genre10" name="genre" value="Action(Misc.)">
            <label for="genre">Action(Misc.)</label><br>

            <input type="checkbox" id="genre11" name="genre" value="Adventure">
            <label for="genre">Adventure</label><br>

            <input type="checkbox" id="genre12" name="genre" value="Puzzle & Skill">
            <label for="genre">Puzzle & Skill</label><br>

            <input class="mb-3" type="checkbox" id="genre13" name="genre" value="Other">
            <label for="genre">Other</label><br>
            <input class="btn btn-outline-info btn-md mb-4" type="submit" value="Submit">
        </form>


        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {%for i in games%}
            <div class="col">
                <div style="background-color:Black" class="card">

                    {% if i.image != None %}
                    <img src="{{ url_for('static', filename=i.image) }}" width="100%" height="600" alt="image">
                    {% endif %}

                    <div class="card-body bg-dark">
                        <h3>${{ i.price }}
                            <a type="button" class="btn btn-lg btn-success">
                                Buy
                            </a>
                        </h3>
                        <p class="card-subtitle mb-2">
                            {% for j in i.genre %}
                            {{ j }}
                            {% endfor %}
                        </p>
                        <h5 class="card-title"><a href="{{ url_for('game_details', game_uuid=i.uuid) }}">{{ i.name
                            }}</a></h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}



