{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block body %}

<form method="POST" class="needs-validation">
    <div class="container g-3">
        <div class="col-sm-4 mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstname">
        </div>

        <div class="col-sm-4 mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastname">
        </div>

        <div class="col-sm-4 mb-3">
            <label for="username" class="form-label">Username</label>
            <input required type="text" class="form-control" id="username" placeholder="Username" name="username">
        </div>

        <div class="col-sm-4 mb-3">
            <label for="email" class="form-label">Email <span class="text-muted"></span></label>
            <input required type="email" class="form-control" id="email" placeholder="you@example.com" name="email">
        </div>

        <div class="col-sm-4 mb-3">
            <label for="password" class="form-label">Password<span class="text-muted"></span></label>
            <input required type="password" class="form-control" id="password" name="password">
        </div>

        <div class="col-sm-4 mb-3">
            <label for="password2" class="form-label">Confirm password<span class="text-muted"></span></label>
            <input required type="password" class="form-control" id="password2" name="password2">
        </div>

        <button class="w-20 btn btn-primary btn-lg" type="submit">Submit</button>
    </div>
</form>

{% endblock %}