{% extends 'base.html' %}


{% block title %}
{{ current_user.firstname }} {{ current_user.lastname }}
{% endblock %}

{% block body %}

<div class="p-5 mb-4 bg-dark rounded-3">
    <a href="/user/edit" role="button" class="btn btn-lg btn-info mb-4">Edit user information</a>

    {% if current_user.is_authenticated %}
    {% for i in current_user.roles %}
    {% if i.name == "manager" or i.name == "admin" %}
    <a href="admin/permissions" role="button" class="btn btn-lg btn-info mb-4">Edit users permissions</a>
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="container py-3">
        {% if current_user.image != None %}
        <img class="mb-4" src="{{ url_for('static', filename=current_user.image) }}" width="450" height="600"
             alt="image">
        {% endif %}

        <p class="display-5 fw-bold">{{ current_user.firstname }} </p>
        <p class="display-5 fw-bold">{{ current_user.lastname }}</p>
        <p class="display-6">{{ current_user.email }}</p>
        <p class="display-6">{{ current_user.username }}</p>
    </div>

</div>


{% endblock %}